<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="deneme12211.Properties.Settings.SINIFDBConnectionString"
            connectionString="Data Source=DESKTOP-GJ184GT\MSSQLSERVER1;Initial Catalog=SINIFDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="deneme12211.Properties.Settings.DBOBİSConnectionString"
            connectionString="Data Source=DESKTOP-GJ184GT\MSSQLSERVER1;Initial Catalog=DBOBİS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>